.clear{
    height: 55px;
    width: 150px;
    background-color: #efb774;
    border-radius: 15px;
    border: 1px solid #ffa02e;
    display: flex;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 5px 3px 3px #ec4b8b;
}

.clear:hover{
    background-color: #f1ea82;
    border: 1px solid #ede135;
    color: #ffa02e;
}